@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}




		<!-- Banner -->
			<section id="banner">
				<!--<i class="icon fa-diamond"></i>-->
				<i class="fas fa-ice-cream"></i>
				<h2>@Model.Value("pageTitle")</h2>
				<p>@Model.Value("bodyText")</p>
				<ul class="actions">
					<li><a href="/products" class="button big special">Check Out Our Cakes</a></li>
				</ul>
			</section>





